@font-face {
  font-family: "Lato-Light";
  src: url("./Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("./Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Raleway-black";
  src: url("./Raleway/Raleway/static/Raleway-Black.ttf");
}

@font-face {
  font-family: "Raleway-bold";
  src: url("./Raleway/Raleway/static/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-black";
  src: url("./Raleway/Raleway/static/Raleway-Black.ttf");
}

@font-face {
  font-family: "Raleway-regular";
  src: url("./Raleway/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-thin";
  src: url("./Raleway/Raleway/static/Raleway-Thin.ttf");
}
